.header {
  height: 7.7rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);

  .wrap {
    position: relative;
    height: 100%;
    max-width: 1450px;
    margin: 0 auto;

    .logo {
      width: 10rem;
      position: absolute;
      top: 50%;
      left: 10px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      ransform: translateY(-50%);

      img {
        display: block;
        width: 100%;
        margin: 0;
      }
    }

    .callToActions {
      position: absolute;
      top: 50%;
      right: 10px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      ransform: translateY(-50%);

      ul, li {
        margin: 0;
        padding: 0;
      }

      li {
        text-transform: uppercase;
        display: inline-block;
        list-style: none;
        margin-right: 1.5rem;

        &:last-child {
          margin-right: 0;
        }

        a, span {
          transition: all .4s ease-in-out;
          cursor: pointer;
          font-size: 1.9rem;
          line-height: 1;
          color: #165c16;
          text-decoration: none;
          text-transform: uppercase;
        }

        a:hover, span:hover {
          opacity: .4;
        }
      }
    }
  }
}